* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

html,
body {
    height: 100%;
    background-color: black;
    width: 100%;
}

.wrapper {
    height: 100%;
    width: 100%;
    color: white;
    position: relative;
    display: flex;
    justify-content: center;
}

.banner {
    width: 100%;
    height: 100%;
    background-color: #171717;

}

.banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

nav {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 19px;
    position: fixed;
    z-index: 1000;
    padding: 0px 80px;
    background-color: #000000b2;

}

.log {
    display: flex;
    align-items: center;
    font-size: 25px;
    color: #fbb034;
    gap: 8px;
}

.log i {
    font-size: 35px;
}

.log h4 {
    color: white;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 30px;
    font-weight: 500;
}

nav .nav-icon {
    display: none;
}

.container {
    width: 1400px;
    height: 100vh;
    position: absolute;
    top: 0;
    padding: 0 2.2rem;
}

.hero-section {
    width: 100%;
    height: 100%;
    display: flex;
    padding-top: 80px;

}

.img-section {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0px 70px;

}

.text_section {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    padding: 0px 70px;
}

.text_section h3 {
    font-size: 45px;
    line-height: 30px;
    font-weight: 300;
}

.text_section span {
    font-size: 45px;
    line-height: 30px;
    font-weight: 900;
}

.text_section p {
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    color: #fff;
}

.text_section a {
    padding: 6px 20px;
    font-size: 17px;
    border-radius: 15px 0px 14px 15px;
    border: none;
    text-align: center;
    width: 30%;
    transition: all 0.2s ease-out;
    margin-top: 20px;
    background-color: #fbb034;
    text-decoration: none;
    color: black;
}

.text_section a:hover {
    cursor: pointer;
    color: white;
    background-color: black;
}

.img-section img {
    width: 100%;
    height: 90%;
    object-fit: cover;
    border-radius: 78% 22% 27% 73% / 70% 60% 40% 30%;
    transition: all 0.8s;
}

.img-section img:hover {
    scale: 1.1;
}

.page-two {
    width: 100%;
    height: 100%;
    padding: 2rem;
    display: flex;
}

.page-two .page-two-1 {
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.page-two .page-two-2 {
    width: 60%;
    height: 100%;
    padding: 2rem;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

.text-cont-1 h1 {
    font-size: 2.5em;
}

.text-cont-2 {
    display: flex;
    gap: 40px;
}

.text-cont-2 .num1 {
    width: fit-content;

}

.page-three {
    width: 100%;
    padding: 5rem 3rem;
    display: flex;
    justify-content: space-evenly;
}

.threebox {
    width: 30%;
    height: 100%;
    border-radius: 1em;
    overflow: hidden;
    position: relative;
}

#box1 img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#box1 {
    display: flex;
    align-items: center;
    justify-content: center;
}

#box2 img {
    width: 100%;
    height: 60%;
    object-fit: cover;
}

#box3 img {
    width: 100%;
    height: 70%;
}

.box-text {
    text-align: center;
    padding: 2em;
}

.box1-overlay {
    height: 150px;
    width: 90%;
    background-color: #171717;
    position: absolute;
    border-radius: 10px;
    text-align: center;
    padding: 1em;
}


.pageFourContainer {
    width: 100%;
    padding: 3rem;
}

.pageFourContainer img {
    object-fit: cover;
    width: 60%;
    height: 100%;
    border-radius: 2em;
}

.pageFourContainer .pageFour-text {
    width: 40%;
    height: 100%;
    padding: 4rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.pageFourContainer .pageFour-text a {
    padding: 0.7em 10px;
    background-color: #fbb034;
    text-decoration: none;
    text-align: center;
    width: fit-content;
    border-radius: 20px;
    color: #111;
    font-weight: 700;
    font-size: 1.1em;

}

.pageFour1 {
    width: 100%;
    height: 50%;
    display: flex;
    padding: 10px 1rem;
}

.pageFour2 {
    width: 100%;
    height: 50%;
    display: flex;
    padding: 10px 1rem;
}

.pageFiveContainer {
    width: 100%;
    height: 100%;
    padding: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fiveSubC {
    width: 100%;
    height: 80%;
    background-color: #161616;
    position: relative;

}

.fiveSubC img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.pageFiveInfo {
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    padding: 3rem 4rem;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    gap: 1em;
}

.pageFiveInfo a {
    padding: 10px 20px;
    font-size: 17px;
    border-radius: 15px 0px 14px 15px;
    border: none;
    text-align: center;
    width: 30%;
    transition: all 0.2s ease-out;
    margin-top: 20px;
    background-color: #fbb034;
    text-decoration: none;
    color: black;
}

/* responsive  */

@media only screen and (max-width: 1200px) {

    nav ul {
        display: none;
    }

    nav .nav-icon {
        display: block;
    }

    .img-section {
        width: 40%;
        

    }

    .text_section {
        width: 40%;
       
    }

   


}