@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

html,
body {
    height: 100%;
    width: 100%;
}

.wrapper {
    background-color: #171717;
    position: relative;
}

nav {
    width: 100%;
}

.nav-item a {
    font-weight: 500;
    color: white;
    margin-right: 10px;
    font-size: 20px;
}


.container-fluid a i {
    font-size: 35px;
    color: #fbb034;
}

.heading {
    font-size: 35px;
    color: white;
    font-weight: 500;
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
    color: #fbb034;
}

.nav-link:focus,
.nav-link:hover {
    color: #fbb034;

}

.search-input {
    background-color: black;
    color: white;
    padding: 10px;
    outline: none;
    border: none;
    border-radius: 20px;
    font-weight: 500;
    padding-left: 15px;
}

form {
    position: relative;
}

form i {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    font-size: 18px;
    color: #fbb034;
}



.info-section p {
    margin-top: 10px;
    font-size: 1.0rem;
    line-height: 20px;
    color: #808080;
    letter-spacing: .5px;
    line-height: 27px;
}

.title {
    font-size: 3.6em;
    line-height: 75px;
    font-weight: 300;
    color: white;
    word-spacing: 1px;
}

.title span {
    font-weight: 500;
}

.info-section a {
    font-size: .9em;
    text-decoration: none;
    margin-top: 20px;
    width: fit-content;
    background-color: #fbb034;
    color: white;
    padding: 8px 15px;
    border-radius: 20px;
}

.image-fluid {
    margin-top: 30px;
    border-radius: 75% 25% 32% 68% / 53% 47% 53% 47%;
}

.banner-dark {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    object-position: bottom;
}

.img-responsive {
    max-width: 100%;
    display: block;
    width: 100%;
    border-radius: 8px;

}

.img-fluid {
    max-width: 100%;
    height: auto;
}

.title-style {
    font-size: 2.2rem;
    font-weight: 600;

}

.info-secton-two p {
    margin-top: 10px;
    font-size: 1.0rem;
    line-height: 20px;
    color: #808080;
    letter-spacing: .5px;
    line-height: 27px;
}

.about-info-m h4 {
    font-size: 1.8rem;
}

.about-info-m p {
    color: #808080;
}

.section-three img {
    width: 100%;
}



a.title-style-anchor {
    color: white;
    text-decoration: none;
    font-size: 24px;
    line-height: 34px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 10px;
    display: inline-block;
}



.grid-info p {
    color: #808080;
}

.grid-content-sec {
    color: #808080;
    background-color: #171717;
    margin: 10em 1em;
    border-radius: 8px;
}


.btn-style {
    padding: 14px 30px;
    font-weight: 600;
    font-size: 16px;
    color: #fff;
    text-transform: uppercase;
    border-radius: 30px;
    background: #fbb034;
    border: none;
    transition: all .25s ease-in-out;
}

.content-sec-1 p {
    color: #808080;
}

.img-responsive {
    max-width: 100%;
    display: block;
    width: 100%;
    border-radius: 8px;
}

.gallery-img img {
    width: 100%;
    margin: 10px !important;
    border-radius: 10px;
    object-fit: cover;
}

.gallery-section h1 {
    font-size: 3rem;
    font-weight: 600;
    line-height: 44px;
}

.gallery-section p {
    font-size: 1.25rem;
    font-weight: 300;
    color: #808080;
}